<app-navbar/>

<div *ngIf="notificationMessage" [ngClass]="notificationClass">
    {{ notificationMessage }}
</div>
<div class="container mt-5">
    <form [formGroup]="postCategoryForm" (ngSubmit)="postCategory()" novalidate>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Post Category</h3>
                    </div>
                    <div class="card-body">
                        <!-- Title Field -->
                        <div class="mb-3">
                            <label for="label" class="form-label">Label</label>
                            <input type="text" id="label" class="form-control" formControlName="label"
                                [ngClass]="{'is-invalid': postCategoryForm.get('label')?.invalid && (postCategoryForm.get('label')?.dirty || postCategoryForm.get('label')?.touched)}" />
                            <div *ngIf="postCategoryForm.get('label')?.invalid && (postCategoryForm.get('label')?.dirty || postCategoryForm.get('label')?.touched)"
                                class="invalid-feedback">
                                <div *ngIf="postCategoryForm.get('label')?.errors?.['required']">label is required.</div>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary" [disabled]="postCategoryForm.invalid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

